<h1><%= @movie.title %></h1>
<img src="<%= @movie.poster %>" width=300>
<ul>
  <li>Year: <%= @movie.year %></li>
  <li>Plot: <%= @movie.plot %></li>
  <li>MPAA Rating: <%= @movie.mpaa_rating %></li>
  <li>Rating: <%= number_to_percentage(@movie.rating, precision: 0) %><%= button_to "+1", edit_movie_path(rating: "up") %><%= button_to "-1", edit_movie_path(rating: "down") %><%= button_to "Favorite this movie", edit_movie_path(rating: "favorite") %></li>
  <li>Cast:
    <ul>
      <% @movie.actors.each do |actor| %>
        <li><a href="/actors/<%= actor.id %>"><%= actor.name %></a></li>
      <% end %>
    </ul>
  </li>
</ul>