<h1><%= @movie.title %></h1>
<img src="<%= @movie.poster %>" width=300>
<ul>
  <li>Year: <%= @movie.year %></li>
  <li>Plot: <%= @movie.plot %></li>
  <li>MPAA Rating: <%= @movie.mpaa_rating %></li>
  <li>Rating: <%= @movie.rating %></li>
</ul>
<%= button_to "Favorite this movie", edit_movie_path(rating: 100) %>